<!-- Gobind Dhaliwal
300975953
Index-->
<% include ./partials/header.ejs %>


  <div class="card" style="width: 18rem;align-content: center">
    <img src="../public/Assets/mission-statement-img1.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Mission Statement</h5>
      <p class="card-text">To gain perspective into programming and developing skills to harness them for betterment of self and society.
      </p>
      <a href="/aboutme" class="btn btn-primary">About Me</a>
    </div>
  </div>
<% include ./partials/footer.ejs %>
