<% include ./partials/header.ejs %>

  <!-- Content goes here --> 

  <div class="card" style="width: 18rem;">
    <img src="../public/Assets/mission-statement-img1.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Mission Statement</h5>
      <p class="card-text">I am a person with a vivid mind and on my quest to gain knowledge. Sent to the earth by forces unknown, my objective is to gather data about
        people on this earth and transmit to my mothership.
      </p>
      <a href="/aboutme" class="btn btn-primary">About Me</a>
    </div>
  </div>

<% include ./partials/footer.ejs %>