<% include ../partials/header.ejs %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project Name</th>
        <th scope="col">Description</th>
        <th scope="col">Technologies Used</th>
        <th scope="col">details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ecommerce Application</td>
        <td>An e-commerce application to facilitate online buying and selling of products</td>
        <td>Android Studio,MySQL Lite Database,JSON</td>
        <td>    <a href="/projects/details-1/" class="btn btn-primary">Details</a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Inventrac</td>
        <td>Inventory Management System</td>
        <td>ASP.NET,Microsoft SQL Server,AWS web Services</td>
        <td>    <a href="/projects/details-2/" class="btn btn-primary">Details</a>

      </tr>
      <th scope="row">3</th>
        <td>G5 Buy</td>
        <td>Retail application</td>
        <td>Android Studio,SQL lite, OAuth, Facebook API, JSON</td>
        <td>    <a href="/projects/details-3/" class="btn btn-primary">Details</a>

      </tr>
    </tbody>
  </table>

<% include ../partials/footer.ejs %>