<% include ../partials/header.ejs %>

  
        <div class="row">
                <div class="col-md-3">
                    <img src="/public/Assets/IMG_4529 b.jpg" alt="">
                    <p>I am Gobind Dhaliwal</p>
                    <p>I am pursuing Advanced Diploma in Software Engineering Technology from</p>
                    <p>Centennial College</p>
    <a href="/public/Assets/Resume.pdf" class="btn btn-primary">Resume</a>
</div>


<% include ../partials/footer.ejs %>