<% include ../partials/header.ejs %>
<div class="text-center">
<h1>Services offered</h1>
<h2>I am fluent in following technologies</h2>
</div> 
<div class="text-center">
    <img src="/public/Assets/asp.net.png" alt="">
    <p >I have done courses and projects in ASP.NET</p>
</div>

<% include ../partials/footer.ejs %>